.home-cont {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.home-img {
  width: 240px;
}
.home-head {
  font-family: Roboto;
  font-size: 42px;
}
.home-dark {
  color: #ffffff;
}
.home-light {
  color: #000000;
}
.home-bg-dark {
  background-color: #000000;
}
.home-bg-light {
  background-color: #ffffff;
}
@media screen and (max-width: 576px) {
  .home-img {
    max-width: 180px;
  }
  .home-head {
    font-size: 28px;
  }
}
